<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022985219570-3tsib0a5r16c0g70ih9rjt6gveg8ja5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022985219570-3tsib0a5r16c0g70ih9rjt6gveg8ja5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCwx37J4iddGikSaFxeG_NnnjjSdaN8F8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1022985219570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idnyt.IDNYT</string>
	<key>PROJECT_ID</key>
	<string>idnyt-85ee6</string>
	<key>STORAGE_BUCKET</key>
	<string>idnyt-85ee6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022985219570:ios:9956800c5f553e2daf8f6b</string>
</dict>
</plist>